---
import i18next, { changeLanguage, t } from "i18next";
import Layout from "../../layouts/Layout.astro";

changeLanguage("fr");
---

<Layout>
    <section>
        <div class="row">
            <div class="col-md-4">
                <img src="/img/history/Exportmesse1947.webp" alt="Historia" width="100%" />
            </div>
            <div class="col">
                <i>{t("about-us.bussiness")}</i>
                <h1>{t("history.title")}</h1>
                <p>{t("history.p1")}</p>
                <p>{t("history.p2")}</p>
            </div>
        </div>
        <p>{t("history.p3")}</p>
        <p>{t("history.p4")}</p>
        <div class="row">
            <div class="col">
                <i>{t("history.about")}</i>
                <h2>{t("history.bussiness")}</h2>
                <p>{t("history.p5")}</p>
            </div>
            <div class="col">
                <figure>
                    <img src="/img/history/deutsche-messe-alemania.webp" alt="Hannover Messe" width="100%"/>
                    <figurecaption>{t("history.figure-caption1")}</figurecaption>
                </figure>
            </div>
        </div>
        <div class="container">
            <i>{t("history.about")}</i>
            <h3>{t("history.entreprise")}</h3>
            <div class="row">
                <div class="col">
                    <img src="/img/history/event1.webp" alt="Hannover Messe" width="100%" class="cover-img" />
                </div>
                <div class="col">
                    <p>{t("history.p6")}</p>
                    <p>{t("history.p7")}</p>
                </div>
            </div>
        </div>
    </section>
</Layout>

<style>
    :root {
        --font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
    section {
        font-family: var(--font);
        padding: 3rem 5rem 2rem 5rem;
        text-align: justify;
        color: #212529;
        font-weight: 400;
        line-height: 1.5;
    }

    h1 {
        margin-top: 0;
        margin-bottom: .5rem;
        font-size: 40px;
    }

    h2, h3 {
        margin: 0;
        font-size: 40px;
    }

    figure {
        margin: 0;
    }

    figurecaption {
        font-size: 14px;
        font-style: italic;
        color: rgba(33, 37, 41, .75);
    }

    .container {
        background-color: #f8f9fa;
        padding: 1rem;
    }

    .container i, h3{
        padding-left: 1.5rem;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        gap: 25px
    }

    .col {
        flex: 1 0 0%;
        object-fit: cover;
    }

    .cover-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
        display: flex;
    }

    @media (max-width: 1024px) {
        section {
            padding: 3rem 2rem 2rem 2rem;
        }

        .row {
            display: flex;
            flex-direction: column;
        }

        .col-md-4 {
            flex: 1 0 0%;
            padding: 1rem;
            width: auto;
        }
    }

    @media (max-width: 768px) {
        .col-md-4 {
            flex: 1 0 0%;
            padding: 1rem;
            width: auto;
        }
    }
</style>