---
import i18next, { t, changeLanguage } from "i18next";
import BuyersProfessional from "../../components/BuyersProfessional.astro";
import Layout from "../../layouts/Layout.astro";
import EventsCard from "../../components/OurEventsCard.astro";
import Events from "../../components/Events.astro";
import { events } from "../../data/constans_events.js";

changeLanguage("fr");
---

<Layout>
	<main>
		<!-- <h2>{t("titles.title1")}</h2> -->
		<a
			href="https://electricity-transformation.ca/register/"
			target="_blank"
		>
			<div class="banner">
				<p>Electricity Transformation Canada</p>
				<p>{t("home.title")}</p>
				<p>{t("home.date")}</p>
				<p>{t("home.register")}</p>
			</div>
		</a>
		<div class="mx-[5rem] grid md:grid-cols-2 gap-10 py-10 text-justify">
			<div>
				<span set:html={t("home.description_1")} />
			</div>
			<div>
				<span set:html={t("home.description_2")} />
			</div>
		</div>
		<h2>{t("home.title_2")}</h2>
		<EventsCard />
		<h2>{t("home.title_3")}</h2>
		<Events events={events} isLeftToRight={true}/>
		<BuyersProfessional />
	</main>
</Layout>

<style>
	main > a {
		text-decoration: none;
		color: inherit;
	}
	.banner {
		background-image: url("/img/fondo_Electricity_Transf_Ca.png");
		background-repeat: no-repeat;
		background-position: top right;
		background-size: cover;
		background-attachment: fixed;
		padding: 50px 10px;
		color: white;
		font-size: 2.5rem;
		font-weight: bold;
		text-align: center;
	}

	.banner :nth-child(2) {
		color: #355282;
	}

	.banner :nth-child(3) {
		font-size: 20px;
	}

	.banner :nth-child(4) {
		font-size: 20px;
	}
	h2 {
		font-size: 250%;
		font-family: sans-serif;
		font-weight: bold;
		text-align: center;
		margin-bottom: 1%;
		border-bottom: solid #355282 3px;
		color: #355282;
	}
	@media (max-width: 768px) {
		main {
			margin: 0;
		}
	}
</style>
