---
import i18next, { t } from 'i18next'

const lang = i18next.language
const base = i18next.language === 'en' ? '' :  `/${lang}`
---

<footer>
  <div>
    <img src='/img/deutschemesse.webp' alt='IGECO' width='300' />
  </div>
  <h4>{t('footer.title-copyright')}</h4>
  <!-- <nav>
            <a href="{`${base}/privacy-policy`}">{t("footer.nav1")}</a>
            |  
            <a href="{`${base}/contact`}">{t("footer.nav2")}</a>
        </nav> -->
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    margin: 1rem 5rem;
    padding-bottom: 5rem;
    color: black;
    position: relative;
    bottom: 0;
    width: auto;
  }
  footer > div {
    background-color: #07439c;
    display: grid;
    place-items: center;
    padding: 10px;
  }
  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: var(--primary-color);
  }

  h4 {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 1rem;
  }

  @media screen and (max-width: 768px) {
    footer {
      margin: 0;
    }
  }
</style>
