---
import i18next, { t } from "i18next";

const lang = i18next.language;
const base = i18next.language === "en" ? "" : `/${lang}`;
---

<footer>
  <div>
    <img src="/img/deutschemesse.webp" alt="IGECO" width="300" />
  </div>
  <div class="w-full lg:pe-10">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.6688046900904!2d-79.39159872405678!3d43.65505857110196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34c8d7130f7d%3A0x2e6f347fe0221eef!2s480%20University%20Ave%20Suite%201500%2C%20Toronto%2C%20ON%20M5G%201V2%2C%20Canad%C3%A1!5e0!3m2!1ses-419!2smx!4v1747323800962!5m2!1ses-419!2smx"
      class="w-full h-96"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
    <p>
      <strong>ITALIAN GERMAN EXHIBITION COMPANY CANADA</strong>
      <br />Centro Banamex, Ciudad de México
    </p>
  </div>
  <h4>{t("footer.title-copyright")}</h4>
  <!-- <nav>
            <a href="{`${base}/privacy-policy`}">{t("footer.nav1")}</a>
            |  
            <a href="{`${base}/contact`}">{t("footer.nav2")}</a>
        </nav> -->
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    margin: 1rem 5rem;
    padding-bottom: 5rem;
    color: black;
    position: relative;
    bottom: 0;
    width: auto;
  }
  footer > div {
    background-color: #07439c;
    display: grid;
    place-items: center;
    padding: 10px;
  }
  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: var(--primary-color);
  }

  h4 {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 1rem;
  }

  @media screen and (max-width: 768px) {
    footer {
      margin: 0;
    }
  }
</style>
